body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #030303;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*Navbar*/
.navBar{
  padding: 15px;
  text-align: center;
  background-color: #1e1425;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid 2px #6c4786;
  margin-bottom: 10px;
}

.navBar a {
  text-decoration: none;
}

.navBar a:hover {
  text-decoration: none;
  color: #007bff;
  transition: all 0.15s ease;
}

#logo-nav{
  color: white;
}

.nav-category{
  color: white;
}

.nav-links {
  padding: 5px;
  color: white;
}

.nav-control{
  display: inherit;
}

/*TABS */
.tabs {
  /*background: #53443F;*/
  display: flex;
  padding: 10px 0px 0 0px
}

.tabs a {
  color: white;
}

.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}

.tabs h3 {
  font-size: 17px;
  font-weight: bold;
  margin-top: 0;
}

.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}

.tab {
  background: #1a1a1b;
  flex: 0 0 50%;
  text-align: center;
  padding: 20px 0;
  color: white;
}

.tab:first-child {
  border-radius: 10px 0 0 0;
}

.tab:last-child {
  border-radius: 0 10px 0 0;
}

.tab.active {
  background: white;
  color: black;
}

.tab:hover {
  cursor: pointer;
}

/*--------------- posts*/
.post {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 3px;
  transition: all 0.15s ease;
  margin-top: 5px;
  border: 1px solid #1A1A1B;
  background: #1A1A1B;
  justify-content: center;
}

/* Body design */
.post-body {
  flex: 1 1 auto;
}

.post-body a {
  text-decoration: none;
  color: white;
}

.post-body h3 {
  font-weight: bold;
  font-size: 23px;
  margin-top: 0;
}

.post-body p {
  font-weight: lighter;
  color: #999999;
  margin-bottom: 0;
}

/* Upvote design */
.post-upvote {
  padding-right: 20px;
  text-align: center;
  transition: all 0.15s ease;
  font-weight: bold;
  line-height: 20px;
}

.post-count {
  margin: 10px 0px;
  color: #999999;
}

.post-arrow {
  transition: all 0.15s ease;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid transparent;
  border-bottom: 9px solid #999999;
  border-radius: 2px;
  margin: auto;
}

.post-arrow-down {
  transition: all 0.15s ease;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-top: 9px solid #999999;
  border-radius: 2px;
  margin: auto;
}
/* Controls design */
.post-controls {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0px;
}

.post-controls li {
  padding: 5px;
  font-size: 17px;
  color: #999999;
  cursor: pointer;
}

.post-controls :first-child :hover {
  color: #28a745 !important;
  transition: all 0.15s ease;
}

.post-controls li:hover {
  color: #D3473C;
  transition: all 0.15s ease;
}

/* Hover effects */
.post:hover {
  /*background: #f7f7fa;*/
  background: #383838;
  /* background: #444444; */
  border: 1px solid white;
}

.post-arrow:hover {
  border-bottom: 9px solid #5898f1;
}

.post-arrow-blue {
  border-bottom: 9px solid #5898f1;
}

.post-arrow-down:hover {
  border-top: 9px solid #dc3545;
}

.post-arrow-down-red{
  border-top: 9px solid #dc3545;
}

/*post detailed*/

.post-details-info{
  background: #1A1A1B;
  padding: 20px;
  color: #999999;
  border: outset 1px white;
  border-radius: 5px;
  text-align: center;
  margin: 10px 0px;
}

.post-details-top{
  display: flex;
}

.post-details-title{
  flex-grow: 1;
}

.post-details-body{
  background: #0e0e0e;
  text-align: justify;
  padding: 10px;
  border: inset 2px #373738;
}

.post-details-controls{
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}

/*comments*/

.comment-list{
  background: #1A1A1B;
  padding: 10px;
  color: #999999;
  border: outset 1px white;
  border-radius: 5px;
  text-align: center;
  margin: 10px 0px;
}

.comment{
  display: flex;
  align-items: center;
  /*background: #0e0e0e;*/
  margin: 7px;
  justify-content: space-between;
  padding: 10px;
  /*border-radius: 2px;*/
  /*border: 1px solid;*/
}

.comment-upvote{
  margin: 0px 20px 0px 10px;
}

.comment-body{
  flex-grow: 1;
  text-align: left;
}

.comment-text{
  background: #0e0e0e;
  padding: 10px;
  border: inset 2px #373738;
}

.comment-text p{
  margin: 0px
}

.comment-control{
  display: flex;
  justify-content: space-between;
}

.comment-control li{
  cursor: pointer;
}

.comment-author p{
  margin: 0px;
  color: #176cb8;
}

.comment-form{
  margin-left: 46px;
}

/*New post*/

